.form-link {
  background-color: #930000;
  padding: 10px;
  color: white;
  border-radius: 20px;
  display: block;
  margin: 0 auto;
}

.form-link:hover {
  background-color: white;
  color: #930000;
}
