.privacy-policy-title {
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}
.privacy-policy-container {
  text-align: center;
  margin: 0 auto;
  max-width: 1000px;
}

.privacy-policy-item {
  margin-bottom: 30px;
  font-size: 25px;
  text-align: left;
  list-style-type: number;
}

.privacy-policy-item-title {
  font-weight: bold;
}
