@import "tailwindcss";

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1c0102;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* display: flex; */
  flex-direction: column;
}

.paragraph {
  font-size: 30px;
  margin-bottom: 30px;
}

.centered {
  text-align: center;
  margin: 0 auto;
}

.pirate {
  font-family: var(--font-pirata);
}

.teko {
  font-family: var(--font-teko);
}

.kanit {
  font-family: var(--font-kanit);
}

.highlight {
  color: rgb(147, 0, 0);
  font-weight: 400;
  font-family: var(--font-pirata);
}

.title {
  color: rgb(147, 0, 0);
  font-size: 50px;
  font-family: var(--font-pirata);
}

.title-medium {
  color: rgb(147, 0, 0);
  font-size: 40px;
  font-family: var(--font-pirata);
}

.title-small {
  color: rgb(147, 0, 0);
  font-size: 30px;
  font-family: var(--font-pirata);
}

.content-container {
  margin: 20px auto;
  max-width: 80%;
  font-size: 25px;
  font-family: var(--font-kanit);
  min-height: 86vh;
  padding-top: var(--navbar-height, 0px);
}

.top-banner-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 999999;
}

.menu-button {
  position: absolute;
  right: 0;
  padding-right: 20px;
  z-index: 999;
}

.menu-button:hover {
  color: white;
}

.nav-links-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: calc(var(--navbar-height, 99px)); /* dynamically below navbar */
  left: 0;
  width: 100vw;
  height: calc(100vh - var(--navbar-height, 60px));
  text-align: center;
  font-size: 30px;
  background: black;
  z-index: 9000;
}
.nav-link {
  display: block;
}

.active {
  color: rgb(147, 0, 0);
}

.nav-link:hover {
  color: rgb(147, 0, 0);
}

ul {
  list-style-type: disc;
}

li {
  list-style-position: inside;
}

/* media */
.promo-icons-container {
  display: flex;
  justify-content: space-around;
}

.promo-text {
  text-align: center;
  font-family: var(--font-pirata);
}
