@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1c0102;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  display: flex;
  flex-direction: column;
}

.paragraph {
  font-size: 30px;
  margin-bottom: 30px;
}

.centered {
  text-align: center;
  margin: 0 auto;
}

.highlight {
  color: rgb(147, 0, 0);
  font-weight: 400;
  font-family: var(--font-pirata);
}

.title {
  color: rgb(147, 0, 0);
  font-size: 50px;
  font-family: var(--font-pirata);
}

.content-container {
  margin: 0 auto;
  max-width: 80%;
  font-size: 25px;
  font-family: var(--font-kanit);
  min-height: 80vh;
  flex-grow: 1;
}

.top-banner {
  position: relative;
}

.nav-link {
  display: block;
}

.active {
  color: rgb(147, 0, 0);
}

.nav-link:hover {
  color: rgb(147, 0, 0);
}

.nav-links-container {
  position: fixed;
  display: block;
  top: 11vh;
  left: 0;
  width: 100%;
  /* margin: 0 auto; */
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 30px;
  background-color: black;
}

.pirate {
  font-family: var(--font-pirata);
}

.teko {
  font-family: var(--font-teko);
}

.kanit {
  font-family: var(--font-kanit);
}

ul {
  list-style-type: disc;
}

li {
  list-style-position: inside;
}

.menu-button {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 20px;
}

.menu-button:hover {
  color: white;
}
