.footer-links-container {
  color: rgb(147, 0, 0);
  text-align: center;
  display: flex;
  padding: 20px;
}

.footer-link {
  flex: auto;
  font-size: 26px;
}

.footer-link:hover {
  color: white;
}
