/* for folders list */
.gallery-links-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 equal columns by default */
  gap: 5px; /* space between cards */
  margin: 0 auto;
  padding-top: var(--navbar-height, 0px);
  min-height: 86vh;
}

.gallery-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.gallery-folder-image {
  width: 100%;
  flex: 1 1 auto;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 1024px) {
  .gallery-links-container {
    grid-template-columns: repeat(2, 1fr); /* 2 columns on medium screens */
  }
}

@media (max-width: 640px) {
  .gallery-links-container {
    grid-template-columns: 1fr; /* 1 column on small screens */
  }
}

/* for full view */
.gallery-container {
  column-count: 3; /* max 3 columns */
  column-gap: 16px; /* gap between columns */
  padding-top: var(--navbar-height, 0px);
}

.gallery-item {
  break-inside: avoid; /* prevents items from breaking between columns */
  margin-bottom: 16px; /* vertical gap between images */
}

.gallery-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media (max-width: 1024px) {
  .gallery-container {
    column-count: 2; /* 2 columns on medium screens */
  }
}

@media (max-width: 640px) {
  .gallery-container {
    column-count: 1; /* 1 column on small screens */
  }
}
