.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-input {
  background-color: white;
  border-radius: 5px;
  margin-bottom: 10px;
}

.send-button {
  background-color: rgb(147, 0, 0);
  border-radius: 5px;
}
