.faq-page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.faq-question {
  max-width: 1000px;
  text-align: left;
  font-weight: 700;
  font-size: 30px;
  padding: 25px;
  margin-bottom: 10px;
  display: block;
  border-radius: 10px;
  background-color: rgb(147, 0, 0);
}

.faq-answer {
  max-width: 1000px;
  text-align: left;
  color: white;
  font-size: 24px;
  padding: 25px;
  margin-bottom: 15px;
  border-left: 6px solid rgb(147, 0, 0);
  border-radius: 10px;
  display: block;
}

.faq-item-container {
  max-width: 1000px;
  margin: 0 auto; /* centers horizontally */
  padding: 10px;
}
